#logo{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}

#logo > img{
    width: 50%;
}

#lineNavbar{
    width: 5px;
    height: 60px;
    background-color: #A90713;
    border-radius: 10px;
}

#pages{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#pages > a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#pages > a > img{
    width: 70%;
}

@media screen and (max-width: 780px){
    #logo{
        width: 30%;
    }

    #pages{
        width: 70%;
    }
}

@media screen and (max-width: 500px){
    #logo{
        width: 40%;
    }

    #pages{
        width: 60%;
    }
}