@if(campanha){
<h1 id="Sair" (click)="fecharModal()">X</h1>
<form
  [formGroup]="form_dados"
  (ngSubmit)="SalvarAlteracoes($event)"
  id="FormCampanha"
  class="Sections"
>
  <h1>
    Informações de: <br />
    {{ campanha.nome }}
  </h1>
  <div class="Form">
    <div class="FormComp">
      <label for="nome">Nome:</label>
      <input
        class="inputs"
        type="text"
        id="nome"
        required
        formControlName="nome"
      />
    </div>
    <div class="FormComp">
      <label for="metaArrecadacao">Meta:</label>
      <input
        class="inputs"
        type="number"
        id="metaArrecadacao"
        required
        formControlName="metaArrecadacao"
      />
    </div>
    <div class="FormComp">
      <label for="dtInicio">Data de Início:</label>
      <input
        class="inputs"
        type="date"
        id="dtInicio"
        required
        formControlName="dtInicio"
      />
    </div>
    <div class="FormComp">
      <label for="dtFim">Data de Término:</label>
      <input
        class="inputs"
        type="date"
        id="dtFim"
        required
        formControlName="dtFim"
      />
    </div>
    <div id="DivDescricao">
      <label for="descricao">Descrição:</label>
      <textarea
        class="inputs"
        type="text"
        id="descricao"
        required
        formControlName="descricao"
      ></textarea>
    </div>
  </div>
  <div class="buttons">
    <button type="submit" id="submit">Salvar Alterações</button>
    <button type="button" id="delete" (click)="excluirCampanha()">
      Deletar Campanha
    </button>
  </div>

  @if(mensagem){
  <p [style.color]="corMensagem" id="mensagem" [innerHTML]="mensagem"></p>
  }
</form>
<div id="divisor"></div>
<div class="Sections">
  <div class="DivDoacoes">
    @if (listaDoacoes && listaDoacoes.length > 0) { @for (doacao of
    listaDoacoes; track doacao.id) {
    <div class="Doacao">
      <div class="nomeDoador">{{ doacao.nomeCartao }}</div>
      <div class="valorDoado">R${{ doacao.valorDoado }}</div>
    </div>
    } } @else {
    <h1>Sem doações para esta campanha</h1>
    }
  </div>

  @if (listaDoacoes.length > 0) {
  <div class="paginacao">
    @for (item of [].constructor(tamanhoDoacoes); track i; let i = $index) {
    @if ((i + 1) == paginaSelecionada){
    <button class="pages selectPage" (click)="obterDoacoes(idCampanha, i + 1)">
      {{ i + 1 }}
    </button>
    } @else {
    <button class="pages" (click)="obterDoacoes(idCampanha, i + 1)">
      {{ i + 1 }}
    </button>
    } }
  </div>
  }
</div>
}
