<app-navbar></app-navbar>
<div id="title">
  <h1>Doadores</h1>
  @if (typeUser == "ADMIN") {
  <button id="AdicionarButton" (click)="FormDoador()">+ Adicionar</button>
  }
</div>
@if(listaDoadores && listaDoadores.length < 0){
  <p>A</p>
} @else {
  <div class="SemDoadores">
    <p>Sem doadores cadastrados</p>
  </div>
}

<!-- Modal Criar Campanha -->
@if (abrirFormDoador) {
<div id="modalDiv">
  <div id="modal" (click)="FormDoador()"></div>
  <app-form-doador
    (fechar)="FormDoador()"
    (atualizar)="atualizarDoadores(paginaSelecionada)"
  ></app-form-doador>
</div>
}
