        .container {
            max-width: 100%;
            margin: 0 auto;
        }

        .header {
            text-align: center;
            margin-bottom: 200%;
        }

        .title {
            color: #ca0b0b;
            font-size: 60px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .add-btn {

    position: absolute;
    right: 0;
    margin-right: 2%;
    background-color: #E81E2D;
    padding: 1% 5%;
    color: white;
    font-size: 25px;
    border: none;
    top: 17%;
    border-radius: 15px;
    font-family: "Outfit SemiBold";
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.add-btn:hover{
    background-color: #A90713;
    transform: scale(1.1);
}