<app-navbar></app-navbar>
<!-- Titulo -->
<div id="title">
  <h1>Campanhas</h1>
  @if (typeUser == "ADMIN") {
  <button id="AdicionarButton" (click)="FormCampanha()">+ Adicionar</button>
  }
</div>

<div id="divCamp">
  <!-- Caso tenha campanhas -->
  @if (listacampanhas.length > 0 && listacampanhas) { @for (campanha of
  listacampanhas; track campanha.id) {
  <div class="Camps">
    <div class="section1">
      <div class="CampTitulo">{{ campanha.nome }}</div>
      @if (typeUser == "ADMIN") {
      <div class="Infos" (click)="FormEditar(campanha.id)">i</div>
      }
    </div>
    <div class="section2">
      <p class="CampDesc">
        {{ campanha.descricao }}
      </p>
    </div>
    <div class="section3">
      <div class="rowDates">
        <div class="divDt">
          <p>Início:</p>
          <div class="dates">
            <p>{{ campanha.dtInicio }}</p>
          </div>
        </div>

        <div class="divDt">
          <p>Fim:</p>
          <div class="dates">
            <p>{{ campanha.dtFim }}</p>
          </div>
        </div>
      </div>
      <div class="rowValores">
        <div class="valorTit">
          <p>Meta de Arrecadação:</p>
        </div>
        <div class="valor">
          <p>R${{ campanha.metaArrecadacao }},00</p>
        </div>
      </div>
      <div class="rowValores">
        <div class="valorTit">
          <p>Valor Atual:</p>
        </div>
        <div class="valor">
          <p>
            R$
            {{
              campanha.valorAtual !== undefined
                ? campanha.valorAtual + ",00"
                : "calculando..."
            }}
          </p>
        </div>
      </div>
      <div class="divBar">
        <div class="bar" [style.width]="getBarWidth(campanha)"></div>
      </div>
    </div>
    <button (click)="FormDoacao(campanha.id)">Fazer Doação</button>
  </div>
  } } @else {
  <!-- Caso não tenha campanhas -->
  <div id="noCamp">
    <div id="replacedCamp">
      <img src="SemCampanhas.png" alt="" />
      <h1>Nenhuma campanha ativa</h1>
      <p>Não há campanhas ativas nesse momento...</p>
    </div>
  </div>
  }
</div>

<!-- Paginação -->
@if (listacampanhas.length > 0) {
<div class="paginacao">
  @for (item of [].constructor(tamanhoCampanha); track i; let i = $index) { @if
  ((i + 1) == paginaSelecionada){
  <button class="pages selectPage" (click)="atualizarCampanhas(i + 1)">
    {{ i + 1 }}
  </button>
  } @else {
  <button class="pages" (click)="atualizarCampanhas(i + 1)">{{ i + 1 }}</button>
  } }
</div>
}

<!-- Modal Criar Campanha -->
@if (abrirFormCampanha) {
<div id="modalDiv">
  <div id="modal" (click)="FormCampanha()"></div>
  <app-form-adicionar
    (fechar)="FormCampanha()"
    (atualizar)="atualizarCampanhas(paginaSelecionada)"
  ></app-form-adicionar>
</div>
}

<!-- Modal Fazer Doação -->
@if (abrirFormDoacao) {
<div id="modalDiv">
  <div id="modal" (click)="FormDoacao()"></div>
  <app-form-fazer-doacao
    (fechar)="FormDoacao()"
    (atualizar)="atualizarCampanhas(paginaSelecionada)"
    [idUser]="idUser"
    [campanha]="campanhaSelecionada"
  ></app-form-fazer-doacao>
</div>
}

<!-- Modal Editar Campanha -->
@if (abrirFormEdit) {
<div id="modalDiv">
  <div id="modal" (click)="FormEditar()"></div>
  <app-form-edit-campanha
    (fechar)="FormEditar()"
    (atualizar)="atualizarCampanhas(paginaSelecionada)"
    [campanha]="campanhaSelecionada"
  >
  </app-form-edit-campanha>
</div>
}
